<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Individual Post</title>
  <th:block th:include="partials/partials.html :: styles"></th:block>
</head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<div class="container">
  <div class="row">
    <div class="col">
<!-- @{${image.imageURL}} => essentially the URL Link-->
      <img th:each="image : ${ad.images}" th:src="@{${image.imageURL}}">
<!-- ${} -This gets the dynamic title-->
      <h1 th:text="${ad.title}"></h1>
<!--${} this gets the dynamic description -->
      <p th:text="${ad.description}"></p>
    </div>
  </div>
</div>

</body>
</html>