<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
<link href="/static/css/navbar.css">
<header class="box-shadow">
    <div class="section logo">
        <span class="white">the</span><span class="green"></span>
    </div>

    <div class="section">
        <ul>
            <li><a class="active" href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</header>



