

.dice-container {
    display: flex;
    flex-direction: row;
}

.dice {
    display: flex;
    background-color: lightblue;
    font-size: 2em;
    width: 5em;
    height: 5em;
    margin: 10px;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

